<li
  [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': appareilStatus === 'allumé',
    'list-group-item-danger': appareilStatus === 'éteint',
    'list-group-item-warning': appareilStatus != 'allumé' && appareilStatus != 'éteint'
  }"
>
  <div style="width:20px;height:20px;background-color:rgb(95, 8, 8)" *ngIf="appareilStatus === 'éteint'"></div>
  <div style="width:20px;height:20px;background-color:orangered" *ngIf="appareilStatus != 'éteint' && appareilStatus != 'allumé'"></div>
  <div style="width:20px;height:20px;background-color:rgb(20, 90, 20)" *ngIf="appareilStatus === 'allumé'"></div>
  <h4 [ngStyle]="{ color: getColor() }">Appareil : {{ appareilName }} -- Statut : {{ appareilStatus }}</h4>
  <input type="text" class="form-control" [(ngModel)]="appareilName" />
  <input type="text" class="form-control" [(ngModel)]="appareilStatus" />
</li>
