<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Mes appareils</h1>
      <p>Dernière mise à jour : {{ lastUpdate | async | date: 'short' }}</p>
      <ul class="list-group">
        <app-appareil *ngFor="let appareil of appareils" [appareilName]="appareil.name" [appareilStatus]="appareil.status"></app-appareil>
      </ul>
      <button class="btn btn-success" (click)="onAllumer()">Changer le statut de tous</button>
    </div>
  </div>
</div>
